body{
    font-family: 'YuMincho';
}



/*navbar*/

.navbar a{
    font-family: 'YuMincho';
}



/*intro*/

.intro{
    background: url(../sozai/top_bg2.jpg) no-repeat center scroll;
    background-size: cover;
    background-position: center top;
    height: 1000px;
}

.intro ul{
    margin-bottom: 50px;
}

.intro .intro-body .brand-heading{
    text-shadow: 3px 3px 5px rgba(150, 150, 150, 1);
    font-family: 'YuMincho';
}

.intro .intro-body .intro-text{
    background-color:rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

/*320px*/

@media(max-width:320px){
    .intro .intro-body .intro-text{
    font-size: 95%;
    }
}

.now-entree{
    display: block;
    margin: 0 auto;
    width: 50%;
    background-color: #C73D18;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
}

/*320px*/

@media(max-width:320px){
    .now-entree{
    font-size: 95%;
    }
}

.now-entree a{
    color: #ffffff;
    font-family: 'YuMincho';
}



/*for_you*/

#for_you{
    width: 100%;
    padding-top: 0;
    color: #262626;
    background: url(../sozai/b_bg.jpg);
    background-repeat: repeat;
    background-position: center top;
    height: 900px;
}

/*1024px*/

@media(max-width:1024px){
    #for_you{
    height: 1500px;
    }
}

/*768px*/

@media(max-width:768px){
    #for_you{
    height: 2300px;
    }
}

/*640px*/

@media(max-width:640px){
    #for_you{
    height: 2200px;
    }
}

/*480px*/

@media(max-width:480px){
    #for_you{
    height: 1900px;
    }
}

#for_you .container{
    padding: 100px 0;
    background-color: rgba(255,255,255,0.7);
}

#for_you h2{
    font-size: 80px;
    font-family: 'YuMincho';
    text-shadow: 3px 3px 5px rgba(150, 150, 150, 1);
}

/*320px*/

@media(max-width:320px){
    #for_you h2{
    font-size: 300%;
    }
}


#for_you .caption_title{
    height: 100px;
}

#for_you h3{
    font-size: 35px;
    font-family: 'YuMincho';
}

/*320px*/

@media(max-width:320px){
    #for_you h3{
    font-size: 200%;
    }
}

#for_you .thumbnail{
    background-color: rgba(0,0,0,0);
    border: none;
}

#for_you img{
    width: 80%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px none #000000;
}

#for_you p{
    font-size: 20px;
}




/*future*/

#future{
    width: 100%;
    padding-top: 0;
    background:url(../sozai/Fotolia_70307349_Subscription_Monthly_M.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 1200px;
}


/*1024px*/

@media(max-width:1024px){
    #future{
    height: 2000px;
    }
}

/*768px*/

@media(max-width:768px){
    #future{
    height: 2700px;
    }
}

/*640px*/

@media(max-width:640px){
    #future{
    height: 2600px;
    }
}

/*480px*/

@media(max-width:480px){
    #future{
    height: 2500px;
    }
}

#future .container{
    padding: 100px 0;
    color: #262626;
    background-color: rgba(255,255,255,0.7);
}

/*1024px*/

@media(max-width:1024px){
    #future .container{
    padding: 200px 0;
    }
}

#future h2{
    font-family: 'YuMincho';
    font-size: 60px;
}

/*320px*/

@media(max-width:320px){
    #future h2{
    font-size: 250%;
    }
}

#future h3{
    font-family: 'YuMincho';
    font-size: 25px;
    height: 75px;
}

/*320px*/

@media(max-width:320px){
    #future h3{
    font-size: 165%;
    }
}

#future .thumbnail{
    background-color: rgba(255,255,255,0);
    border: none;
}

#future .thumbnail img{
    width: 100%;
    height: 350px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}

/*1024px*/

@media(max-width:1024px){
    #future .thumbnail img{
    width: 80%;
    }
}

/*768px*/

@media(max-width:768px){
    #future .thumbnail img{
    width: 48%;
    }
}

/*640px*/

@media(max-width:640px){
    #future .thumbnail img{
    width: 55%;
    }
}

/*480px*/

@media(max-width:480px){
    #future .thumbnail img{
    height: 250px;
    }
}

/*320px*/

@media(max-width:320px){
    #future .thumbnail img{
    height: 175px;
    }
}

#future p{
    font-size: 20px;
}

#future span{
    background-color: #FDDE37;
}





/*curriculum*/

#curriculum{
    margin-left: 0;
    padding: 100px 0;
    background-image: -webkit-gradient(
    linear,
    right top,
    right bottom,
    color-stop(0.44, rgb(105, 64, 24)),
    color-stop(1, rgb(69, 50, 32))
);
    background-image: -o-linear-gradient(bottom, rgb(105, 64, 24) 44%, rgb(69, 50, 32) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(105, 64, 24) 44%, rgb(69, 50, 32) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(105, 64, 24) 44%, rgb(69, 50, 32) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(105, 64, 24) 44%, rgb(69, 50, 32) 100%);
    background-image: linear-gradient(to bottom, rgb(105, 64, 24) 44%, rgb(69, 50, 32) 100%);
    font-family: 'YuMincho';
}

#curriculum h2{
    font-family: 'YuMincho';
    font-size: 60px;
}

/*320px*/

@media(max-width:320px){
    #curriculum h2{
    font-size: 250%;
    }
}

#curriculum .items{
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}

#curriculum .items a{
    border: none;
}

#curriculum .items img{
    width: 100%;
    height: 250px;
}

/*480px*/

@media(max-width:480px){
    #curriculum .thumbnail img{
    height: 200px;
    }
}

/*320px*/

@media(max-width:320px){
    #curriculum .thumbnail img{
    height: 110px;
    }
}

#curriculum p{
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #333333;
    font-size: 23px;
}

/*768px*/

@media(max-width:768px){
    #curriculum p{
    font-size: 15px;
    }
}

/*480px*/

@media(max-width:480px){
    #curriculum p{
    font-size: 18px;
    }
}

#curriculum span{
    background-color: #FDDE37;
    color: #333333;
}

#curriculum table{
    color: #262626;
    font-size: 20px;
}

#curriculum th{
    border: none;
    background-color: #DFF0D8;
    text-align: center;
}

#curriculum td{
    border: none;
    background-color: #E8E9E8;
}






/*FAQ*/

#FAQ{
    width: 100%;
    padding-top: 0;
    background:url(../sozai/fourth_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 1400px;
}

/*1024px*/

@media(max-width:1024px){
    #FAQ{
    height: 1700px;
    }
}

/*768px*/

@media(max-width:768px){
    #FAQ{
    height: 1700px;
    }
}

/*640px*/

@media(max-width:640px){
    #FAQ{
    height: 1750px;
    }
}

/*480px*/

@media(max-width:480px){
    #FAQ{
    height: 2000px;
    }
}

/*320px*/

@media(max-width:320px){
    #FAQ {
    height: 1700px;
    }
}

#FAQ .layerTransparent{
    width: 100%;
    height: 1400px;
    background-color: rgba(255,255,255,0.4);
}

/*1024px*/

@media(max-width:1024px){
    #FAQ .layerTransparent{
    height: 1700px;
    }
}

/*640px*/

@media(max-width:640px){
    #FAQ .layerTransparent{
    height: 1750px;
    }
}

/*480px*/

@media(max-width:480px){
    #FAQ .layerTransparent{
    height: 2000px;
    }
}

#FAQ h2{
    font-family: 'YuMincho';
    font-size: 60px;
    text-shadow: 3px 3px 5px rgba(150, 150, 150, 1);
}

#FAQ .container{
    padding: 150px 0;
    color: #262626;
}

#FAQ h3{
    background-color: rgba(255,255,255,0.6);
    border-left: 4px #C73D18 solid;
    color: #C73D18;
    text-align: left;
    font-family: 'YuMincho';
    font-size: 35px;
}

/*320px*/

@media(max-width:320px){
    #FAQ h3{
    font-size: 180%;
    }
}

#FAQ p{
    width: 95%;
    margin: 10px auto 20px auto;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px none #000000;
    background-color: rgba(255,255,255,0.9);
    font-size: 20px;
    text-align: left;
}

/*320px*/

@media(max-width:320px){
    #FAQ p{
    font-size: 100%;
    }
}

#FAQ span{
    font-size: 30px;
}

/*320px*/

@media(max-width:320px){
    #FAQ span{
    font-size: 150%;
    }
}

#FAQ .now-tel{
    display: block;
    margin: 75px auto 20px;
    width: 50%;
    background-color: #1D5A9D;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
}

/*320px*/

@media(max-width:320px){
    #FAQ .now-tel{
    width: 80%;
    }
}

#FAQ .now-tel a{
    color: #ffffff;
    font-family: 'YuMincho';
}

/*768px*/

@media(max-width:768px){
    #FAQ .now-tel a{
    font-size: 19px;
    }
}

/*640px*/

@media(max-width:640px){
    #FAQ .now-tel a{
    font-size: 16px;
    }
}

/*480px*/

@media(max-width:480px){
    #FAQ .now-tel a{
    font-size: 11px;
    }
}

/*320px*/

@media(max-width:320px){
    #FAQ .now-entree{
    width: 80%;
    }
}




/*entree*/

#entree{
    height: 2000px;
    padding: 150px 0;
    background-color: #F5F5F5;
    color: #262626;
}

#entree h2{
    font-family: 'YuMincho';
    text-shadow: 3px 3px 5px rgba(150, 150, 150, 1);
    font-size: 75px;
}

/*320px*/

@media(max-width:320px){
    #entree h2{
    font-size: 300%;
    }
}

#entree h3{
    margin-bottom: 30px;
    font-family: 'YuMincho';
    font-size: 30px;
    text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
}

/*320px*/

@media(max-width:320px){
    #entree h3{
    font-size: 200%;
    }
}

#entree p{
    font-size: 22px;
}

/*320px*/

@media(max-width:320px){
    #entree p{
    font-size: 100%;
    }
}


#entree h4{
    font-family: 'YuMincho';
    color: #C73D18;
    font-size: 30px;
}

/*320px*/

@media(max-width:320px){
    #entree h4{
    font-size: 150%;
    }
}

#entree table{
    font-size: 20px;
}

/*320px*/

@media(max-width:320px){
    #entree table{
    font-size: 100%;
    }
}


#entree tr th{
    background-color: #FCF7E2;
    text-align: center;
}

#entree tr td{
    background-color: #EDEDED;
}

#entree .flow p{
    height: 70px;
    /*margin-bottom: 60px;*/
    padding-top:20px;
    background-color: #FFFFFF;
    border: 3px #C73D18 dotted;
}

#entree i{
    color: #C73D18;
}




/*footer*/

footer ul{
    width: 100%;
}

footer li{
    display: inline-block;
}

footer img{
    height: 75px;
}

/*1024px*/

@media(max-width:1024px){
    footer img{
        height: 50px;
    }
}

/*768px*/

@media(max-width:768px){
    footer img{
        height: 45px;
    }
}

/*640px*/

@media(max-width:640px){
    footer img{
        height: 40px;
    }
}

/*480px*/

@media(max-width:480px){
    footer img{
        height: 20px;
    }
}

/*320px*/

@media(max-width:320px){
    footer img{
        height: 20px;
    }
}

footer p{
    display: inline-block;
}

footer .bootcamp{
    border-left: 1px #ffffff solid;
    padding-left: 3px;
}





/*form*/

form{
    display: inline-block;
    font-weight: bold;
}

/*640px*/

@media(max-width:640px){
    form .container{
    width: 400px;
    }
}

/*320px*/

@media(max-width:320px){
    form .container{
    width: 270px;
    }
}

form input .form-btn{
    background-color: #FFFFFF;
}

.intro .intro-body .inquiry-heading{
    text-shadow: 2px 0px 0px rgba(135, 135, 135, 1);
    font-family: 'YuMincho';
    font-size: 60px;
}

/*768px*/

@media(max-width:768px){
    .intro .intro-body .inquiry-heading{
    font-size: 300%;
    }
}

/*320px*/

@media(max-width:320px){
    .intro .intro-body .inquiry-heading{
    font-size: 200%;
    }
}


.intro .intro-body .quotation{
    width: 80%;
    background-color: #2E0C31;

    /* box-shadow */
    box-shadow:0px 0px 6px 2px #878787;
    -moz-box-shadow:0px 0px 6px 2px #878787;
    -webkit-box-shadow:0px 0px 6px 2px #878787;

    /* border-radius */
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;

    /* border */
    border:2px solid #ffffff;

    color: #ffffff;
    font-family: 'YuMincho';
    font-weight: bold;
}

/*768px*/

@media(max-width:768px){
    .intro .intro-body .quotation{
    width: 90%;
    font-size: 90%;
    }
}

/*480px*/

@media(max-width:480px){
    .intro .intro-body .quotation{
    font-size: 75%;
    }
}




/*thanks*/

.intro .intro-body .thanks{
    background-color:rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 50px;
    font-size: 30px;
}

/*640px*/

@media(max-width:640px){
    .intro .intro-body .thanks{
    width: 80%;
    margin: 0 auto;
    }
}

/*480px*/

@media(max-width:480px){
    .intro .intro-body .thanks{
    font-size: 150%;
    }
}

/*320px*/

@media(max-width:480px){
    .intro .intro-body .thanks{
    font-size: 110%;
    }
}





























